.container-contribution {
  @include padding-l-r;
  height: auto;

  h1 {
    font-family: 'Inter';
  }

  p{
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  .required{
    color: red;
  }

  form {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    label {
      font-size: 1.25rem;
      font-family: 'Belleza';
    }

    input[type=text],
    [type=email],[type=number] .choose-dpt {
      border: solid 2px black;
      border-radius: 3px;
    }

    input[type=text]:read-only {
      background-color: #e3e3e3;

      &:hover{
        cursor: not-allowed;
      }
    }

    input[type=text],
    [type=email],[type=number] .choose-dpt {
      border: solid 2px black;
      border-radius: 3px;
    }

    textarea {
      border: solid 2px black;
      border-radius: 3px;
    }

    button[type=submit] {
      background-color: #1E90FF;
      color: white;
      border: none;
      border-radius: 3px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition-duration: 1s;
      margin-top: 15px;
      cursor: pointer;

      &:hover {
        background-color: #244A6F;
      }
    }

    .choose-gender {
      padding-bottom: 1rem;
    }


  }

}

// Contribution button home
.fa-user-edit {
  &:hover {
    cursor: pointer;
  }
}

// <= iPhone XS Max
@media (max-width: 414px) {
  .container-contribution {
    height: auto;
    padding-bottom: 1.25rem;
  }

  input[type=text] {
    width: 90%;
    margin-bottom: 0.625rem;
  }

  input[type=email] {
    width: 90%;
    margin-bottom: 0.625rem;
  }

  label {
    margin-bottom: 0.625rem;
  }
}