$Main-font : 'Inter';
$Matrimoine-family: 'Playfair';
$Belleza-family : 'Belleza';
$border-container: '2px purple solid';
$uppercase: 'uppercase';
$text-nav-link: 1.25rem;
$padding-left-right: 30px;
$font-size-text-footer: 0.875rem;
$font-size-text-link: 1rem;
$nav-title-mobile: 1.25rem;
$nav-elem-color: #FFFFFF;
$background-footer: #191919;
$link-color: #005680;
$overlay-back: rgba(0,0,0,0.5);

@mixin height-container{
 height: calc(100vh - 40px);
}

@mixin padding-l-r {
 padding-left: 30px;
 padding-right: 30px;
}

@mixin padding-l-r-map {
 padding-left: 60px;
 padding-right: 60px;
}

@mixin padding-l-r-map-mobile {
 padding-left: 25px;
 padding-right: 25px;
}

@mixin footer{
 background-color: $background-footer;
 color: $nav-elem-color;
 padding-top: 30px;
 padding-bottom: 30px;
 hr{
  color: white;
 }
}

@mixin overlay {
 position: absolute;
 top: 50%;
 left: 50%;
 font-size: 50px;
 color: white;
 transform: translate(-50%,-50%);
 text-align: center;
 z-index: 30000;
 cursor: pointer;
}