@font-face {
  font-family: 'Playfair';
  font-display: swap;
  src: url(../font/PlayfairDisplay-Regular.woff) format("woff"), url(../font/PlayfairDisplay-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belleza';
  font-display: swap;
  src: url(../font/Belleza-Regular.woff) format("woff"), url(../font/Belleza-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/Inter_Web/Inter-Bold.woff) format("woff"), url(../font/Inter_Web/Inter-Bold.woff2) format("woff2");
}

#overlay_geolocation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  cursor: pointer;
}

#contribute {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  cursor: pointer;
}

#contribute form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-contribution {
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
}

.container-contribution h1 {
  font-family: 'Inter';
}

.container-contribution p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.container-contribution .required {
  color: red;
}

.container-contribution form {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-contribution form label {
  font-size: 1.25rem;
  font-family: 'Belleza';
}

.container-contribution form input[type=text],
.container-contribution form [type=email], .container-contribution form [type=number] .choose-dpt {
  border: solid 2px black;
  border-radius: 3px;
}

.container-contribution form textarea {
  border: solid 2px black;
  border-radius: 3px;
}

.container-contribution form button[type=submit] {
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-top: 15px;
  cursor: pointer;
}

.container-contribution form button[type=submit]:hover {
  background-color: #244A6F;
}

.container-contribution form .choose-gender {
  padding-bottom: 1rem;
}

.fa-user-edit:hover {
  cursor: pointer;
}

@media (max-width: 414px) {
  .container-contribution {
    height: auto;
    padding-bottom: 1.25rem;
  }
  input[type=text] {
    width: 90%;
    margin-bottom: 0.625rem;
  }
  input[type=email] {
    width: 90%;
    margin-bottom: 0.625rem;
  }
  label {
    margin-bottom: 0.625rem;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
  padding-left: 30px;
  padding-right: 30px;
}

nav a {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-name {
  width: 50%;
  font-size: 1.875rem;
  font-family: "Playfair";
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 5vh;
  font-size: 1.25rem;
  font-family: "Belleza";
}

.nav-menu img {
  border-radius: 50%;
}

.nav-menu a {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.input-home {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 20rem;
  height: 2.5rem;
  border: solid 1px black;
  padding-left: 10px;
}

.input-home::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.input-home:-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.input-home::-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.input-home::placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.submit-home {
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: #1E90FF;
  color: white;
  height: 2.2rem;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submit-home:hover {
  background-color: #244A6F;
}

.container-main {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  overflow: auto;
  width: 100%;
}

.container-apropos {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  overflow: auto;
}

.container-apropos h1 {
  font-size: 3.125rem;
  font-family: "Inter";
}

.container-404 {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  overflow: auto;
}

.container-404 a {
  font-family: "Belleza";
}

.all-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-404 {
  font-family: "Inter";
  font-size: 6.25rem;
}

.quote-404,
.author-404 {
  font-family: "Belleza";
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-404 {
  color: #005680;
  font-size: 1.5rem;
}

.link-404:visited {
  color: #005680;
}

.container-present {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  overflow: auto;
}

.container-present a {
  font-family: "Belleza";
}

.container-present h1 {
  font-size: 3.125rem;
}

.all-present {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-family: "Belleza";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.title-present {
  font-family: "Inter";
  font-size: 3.25rem;
  text-transform: uppercase;
}

.quote-present {
  font-family: "Belleza";
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-present {
  color: #005680;
  font-size: 1.5rem;
}

.link-present:visited {
  color: #005680;
}

.bloc-text {
  max-height: 100%;
}

.bloc-text p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.bloc-text ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.bloc-text a {
  color: #005680;
}

.bloc-text a:visited {
  color: #005680;
}

.container-left {
  width: 50%;
  margin: auto;
}

.container-left h1 {
  font-size: 3.125rem;
  font-family: "Inter";
}

.container-left p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.container-left .input-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-left .submit-home {
  width: 20rem;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.container-left .submit-home:hover {
  border-radius: 20px;
}

.container-right {
  width: 50%;
  margin: auto;
}

.container-right img {
  width: 100%;
  height: auto;
}

.call-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 35px;
}

.container-map {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 2rem;
  overflow: auto;
}

.container-map h1 {
  text-transform: "uppercase";
  font-family: "Inter";
  font-size: 1.875rem;
}

.container-map p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.container-map ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.container-map h2 {
  font-family: "Inter";
  text-transform: uppercase;
}

.container-map h3 {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1.5rem;
}

#js-map {
  height: 380px;
}

#graph {
  margin-top: 2rem;
  width: 100%;
}

.svg-container {
  margin: auto;
}

.results {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 2rem;
}

.results p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results a {
  color: #005680;
}

.results a:visited {
  color: #005680;
}

.results h2 {
  font-family: "Inter";
  text-transform: uppercase;
}

.results .load-data h3 {
  text-align: center;
  font-family: "Belleza";
  -webkit-animation: fadeIn 3s ease-in-out infinite;
          animation: fadeIn 3s ease-in-out infinite;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.results-local {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2rem;
}

.results-local p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results-local ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.contribute {
  color: black;
  -webkit-transition: ease-out;
  transition: ease-out;
}

.contribute:hover {
  color: #F55873;
}

.please_location {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  font-family: "Belleza";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

table {
  font-family: "Belleza";
  border-top: solid 1px;
  border-bottom: solid 1px;
}

tr {
  border-bottom: solid 2px;
}

tr.border_bottom td {
  border-bottom: 1pt solid black;
}

.footer-all {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #191919;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-all hr {
  color: white;
}

.titre-footer {
  font-family: "Playfair";
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer p {
  font-family: "Belleza";
}

.footer-left {
  width: 50%;
}

.footer-left p {
  font-size: 0.875rem;
}

.footer-right {
  width: 50%;
}

.footer-right > ul > li > a {
  font-family: "Belleza";
  color: #FFFFFF;
  font-size: 1rem;
}

.copyright {
  font-family: "Belleza";
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-name {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-name a {
    text-align: center;
    white-space: nowrap;
    font-size: 1.25rem;
  }
  .nav-menu {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-menu a {
    font-size: 1.25rem;
    text-decoration: none;
  }
  .container-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-left {
    width: 100%;
  }
  .container-right {
    display: none;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  .footer-right ul {
    padding: 0;
  }
  .title-present {
    font-size: 1.975rem;
  }
  .link-present {
    font-size: 1.3rem;
  }
}

@media (max-width: 375px) {
  .container-left h1 {
    text-align: center;
  }
  .input-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container-map {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 378px) {
  .nav-menu img {
    display: none;
  }
  .container-main {
    height: auto;
  }
  .container-left h1 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-left .input-home {
    width: 220px;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-left .submit-home {
    margin-top: 8px;
    width: 220px;
  }
  .container-left .input-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container-map {
    height: auto;
  }
  .container-apropos {
    height: auto;
  }
  #js-map {
    height: 300px;
  }
  #graph {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */