@import 'font-family';
@import 'config';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  @include padding-l-r;

  a {
    color: black;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-name {
  width: 50%;
  font-size: 1.875rem;
  font-family: $Playfair-family;
}

.nav-menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  height: 5vh;
  font-size: $text-nav-link;
  font-family: $Belleza-family;

  img {
    border-radius: 50%;
  }
}

.input-home {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 20rem;
  height: 2.5rem;
  border: solid 1px black;
  padding-left: 10px;

  &::placeholder {
    font-size: 1rem;
    font-family: $Belleza-family
  }
}

.submit-home {
  text-align: center;
  border-radius: 4px;
  border: solid 1px black;
  background-color: white;
  height: 2.2rem;
}

.container-main {
  @include padding-l-r;
  @include height-container;
  display: flex;
  padding-bottom: 30px;
  overflow: auto;
  width: 100%;
}

.container-apropos {
  @include padding-l-r;
  @include height-container;
  overflow: auto;

  h1 {
    font-size: 3.125rem;
    font-family: $Playfair-family;
  }
}

.container-404 {
  @include padding-l-r;
  @include height-container;
  overflow: auto;

  a {
    font-family: $Belleza-family;
  }
}

.all-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-404 {
  font-family: $Playfair-family;
  font-size: 6.25rem;
}

.quote-404,
.author-404 {
  font-family: $Belleza-family;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.link-404 {
  color: $link-color;
  font-size: 1.5rem;

  &:visited {
    color: $link-color;
  }
}

.container-soon {
  @include padding-l-r;
  @include height-container;
  overflow: auto;

  a {
    font-family: $Belleza-family;
  }
}

.all-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-soon {
  font-family: $Playfair-family;
  font-size: 3.25rem;
  text-transform: uppercase;
}

.quote-soon {
  font-family: $Belleza-family;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.link-soon {
  color: $link-color;
  font-size: 1.5rem;

  &:visited {
    color: $link-color;
  }
}

.bloc-text {
  max-height: 100%;

  p {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  ul {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  a {
    color: $link-color;

    &:visited {
      color: $link-color;
    }
  }
}

.container-left {
  width: 50%;
  margin: auto;

  h1 {
    font-size: 3.125rem;
    font-family: $Playfair-family;
  }

  .input-c {
    display: flex;
    flex-direction: column;
  }

  .submit-home {
    width: 220px;
    transition: ease-in-out 1s;

    &:hover {
      border-radius: 20px;
    }
  }
}

.container-right {
  width: 50%;
  margin: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.call-scroll {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}

.container-map {
  @include padding-l-r-map;
  padding-bottom: 2rem;
  overflow: auto;

  h1 {
    text-transform: $uppercase;
    font-family: $Playfair-family;
    font-size: 1.875rem;
  }

  p {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  ul {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  h2 {
    font-family: $Playfair-family;
    text-transform: uppercase;
  }

  h3 {
    font-family: $Playfair-family;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

#js-map {
  height: 380px;
}

#graph {
  margin-top: 2rem;
  width: 600px;
}

.results {
  @include padding-l-r-map;
  padding-bottom: 2rem;

  p {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  ul {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  a{
    color: $link-color;

    &:visited{
      color: $link-color;
    }
  }
}

.results-local {
  @include padding-l-r;
  padding-bottom: 2rem;

  p {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  ul {
    font-family: $Belleza-family;
    font-size: 1.25rem;
  }

  h2 {
    font-family: $Playfair-family;
    text-transform: uppercase;
  }
}

table {
  font-family: $Belleza-family;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

tr {
  border-bottom: solid 2px;
}

tr.border_bottom td {
  border-bottom: 1pt solid black;
}

.footer-all {
  @include padding-l-r;
  @include footer;
}

.titre-footer {
  font-family: $Playfair-family;
}

.footer {
  display: flex;

  p {
    font-family: $Belleza-family;
  }
}


.footer-left {
  width: 50%;

  p {
    font-size: $font-size-text-footer;
  }
}

.footer-right {
  width: 50%;
}

.footer-right>ul>li>a {
  font-family: $Belleza-family;
  color: $nav-elem-color;
  font-size: $font-size-text-link;
}

.copyright {
  font-family: $Belleza-family;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media(max-width:720px) {
  nav {
    flex-direction: column;
  }

  .nav-name {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    a {
      text-align: center;
      white-space: nowrap;
      font-size: $nav-title-mobile;
    }
  }

  .nav-menu {
    width: 100%;

    a {
      font-size: 0.9375rem;
      text-decoration: none;
    }
  }

  .container-main {
    flex-direction: column;
  }

  .container-left {
    width: 100%;
  }

  .container-right {
    display: none;
  }

  .footer {
    flex-direction: column;
  }

  .footer-left {
    width: 100%;
  }

  .footer-right {
    width: 100%;
  }

  .footer-right ul {
    padding: 0;
  }

  .title-soon {
    font-size: 1.975rem;
  }

  .link-soon {
    font-size: 1.3rem;
  }

}

// <= iPhone X
@media(max-width:375px) {
  .container-left {
    h1 {
      text-align: center;
    }
  }

  .input-c {
    justify-content: center;
    align-items: center;
  }
}

// <= iPhone 6
@media(max-width:378px) {
  .nav-menu {
    img {
      display: none;
    }
  }

  .container-main {
    height: auto;
  }

  .container-left {
    h1 {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .input-home {
      width: 220px;
      // margin: auto;
      margin-bottom: 1rem;
      justify-content: center;
    }

    .submit-home {
      margin-top: 8px;
    }

    .input-c {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .container-map {
    height: auto;
  }

  .container-apropos {
    height: auto;
  }

  #js-map {
    height: 300px;
  }

  #graph {
    width: auto;
  }

}