@font-face {
  font-family: 'Playfair';
  src: url(../font/PlayfairDisplay-Regular.woff);
  src: url(../font/PlayfairDisplay-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belleza';
  src: url(../font/Belleza-Regular.woff);
  src: url(../font/Belleza-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
  padding-left: 30px;
  padding-right: 30px;
}

nav a {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-name {
  width: 50%;
  font-size: 1.875rem;
  font-family: "Playfair";
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 5vh;
  font-size: 1.25rem;
  font-family: "Belleza";
}

.nav-menu img {
  border-radius: 50%;
}

.input-home {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 20rem;
  height: 2.5rem;
  border: solid 1px black;
  padding-left: 10px;
}

.input-home::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.input-home:-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.input-home::-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.input-home::placeholder {
  font-size: 1rem;
  font-family: "Belleza";
}

.submit-home {
  text-align: center;
  border-radius: 4px;
  border: solid 1px black;
  background-color: white;
  height: 2.2rem;
}

.container-main {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  overflow: auto;
  width: 100%;
}

.container-apropos {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  overflow: auto;
}

.container-apropos h1 {
  font-size: 3.125rem;
  font-family: "Playfair";
}

.container-404 {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  overflow: auto;
}

.container-404 a {
  font-family: "Belleza";
}

.all-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-404 {
  font-family: "Playfair";
  font-size: 6.25rem;
}

.quote-404,
.author-404 {
  font-family: "Belleza";
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-404 {
  color: #005680;
  font-size: 1.5rem;
}

.link-404:visited {
  color: #005680;
}

.container-soon {
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100vh - 40px);
  overflow: auto;
}

.container-soon a {
  font-family: "Belleza";
}

.all-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-soon {
  font-family: "Playfair";
  font-size: 3.25rem;
  text-transform: uppercase;
}

.quote-soon {
  font-family: "Belleza";
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-soon {
  color: #005680;
  font-size: 1.5rem;
}

.link-soon:visited {
  color: #005680;
}

.bloc-text {
  max-height: 100%;
}

.bloc-text p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.bloc-text ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.bloc-text a {
  color: #005680;
}

.bloc-text a:visited {
  color: #005680;
}

.container-left {
  width: 50%;
  margin: auto;
}

.container-left h1 {
  font-size: 3.125rem;
  font-family: "Playfair";
}

.container-left .input-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-left .submit-home {
  width: 220px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.container-left .submit-home:hover {
  border-radius: 20px;
}

.container-right {
  width: 50%;
  margin: auto;
}

.container-right img {
  width: 100%;
  height: auto;
}

.call-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 35px;
}

.container-map {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 2rem;
  overflow: auto;
}

.container-map h1 {
  text-transform: "uppercase";
  font-family: "Playfair";
  font-size: 1.875rem;
}

.container-map p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.container-map ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.container-map h2 {
  font-family: "Playfair";
  text-transform: uppercase;
}

.container-map h3 {
  font-family: "Playfair";
  text-transform: uppercase;
  font-size: 1.5rem;
}

#js-map {
  height: 380px;
}

#graph {
  margin-top: 2rem;
  width: 600px;
}

.results {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 2rem;
}

.results p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results a {
  color: #005680;
}

.results a:visited {
  color: #005680;
}

.results-local {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2rem;
}

.results-local p {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results-local ul {
  font-family: "Belleza";
  font-size: 1.25rem;
}

.results-local h2 {
  font-family: "Playfair";
  text-transform: uppercase;
}

table {
  font-family: "Belleza";
  border-top: solid 1px;
  border-bottom: solid 1px;
}

tr {
  border-bottom: solid 2px;
}

tr.border_bottom td {
  border-bottom: 1pt solid black;
}

.footer-all {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #191919;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-all hr {
  color: white;
}

.titre-footer {
  font-family: "Playfair";
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer p {
  font-family: "Belleza";
}

.footer-left {
  width: 50%;
}

.footer-left p {
  font-size: 0.875rem;
}

.footer-right {
  width: 50%;
}

.footer-right > ul > li > a {
  font-family: "Belleza";
  color: #FFFFFF;
  font-size: 1rem;
}

.copyright {
  font-family: "Belleza";
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-name {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-name a {
    text-align: center;
    white-space: nowrap;
    font-size: 1.25rem;
  }
  .nav-menu {
    width: 100%;
  }
  .nav-menu a {
    font-size: 0.9375rem;
    text-decoration: none;
  }
  .container-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-left {
    width: 100%;
  }
  .container-right {
    display: none;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  .footer-right ul {
    padding: 0;
  }
  .title-soon {
    font-size: 1.975rem;
  }
  .link-soon {
    font-size: 1.3rem;
  }
}

@media (max-width: 375px) {
  .container-left h1 {
    text-align: center;
  }
  .input-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 378px) {
  .nav-menu img {
    display: none;
  }
  .container-main {
    height: auto;
  }
  .container-left h1 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-left .input-home {
    width: 220px;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-left .submit-home {
    margin-top: 8px;
  }
  .container-left .input-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container-map {
    height: auto;
  }
  .container-apropos {
    height: auto;
  }
  #js-map {
    height: 300px;
  }
  #graph {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */