.container{
 margin: 20px auto;
 max-width: 960px;
}

.table{
 width: 100%;
 max-width: 100%;
 margin-bottom: 2rem;
}

.table>thead>tbody,
.table>tbody>tbody,
.table>tfoot>tr{
 transition: all 0.3 ease;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
 text-align: left;
 padding: 1.6rem;
 vertical-align: top;
}

.table>thead>tr>th{
 font-weight: 400;
 color: #757575;
 vertical-align: bottom;
}

.table>tbody + tbody{
 border-top: 1px solid rgba(0, 0, 0, 12);
}
